.post_container{:class => "grid_#{column.width}"}
	- if column.post.present?
		= render :partial => 'articles/excerpt', :object => column.post, :as => :post

	- unless (column == column.row.columns.last)
		- if column.row.columns[column.row.columns.index(column) + 1].post.present?
	
			.vertical_divider